<!--
Template Variables:
- cartItems
- orderStatus
-->
<ul class="cart">
    <!-- SO FAR item is just a String, name of the item -->
    {{#each cartItems}}
    <li class="menu-item">{{this}}</li>
    {{/each}}
</ul>

<section class="order-form-container">
    <h2 class="order-status">{{ orderStatus }}</h2>
    <!-- 
    send order data to handler, on server, 
    that deals with incoming customer orders
    -->
    <!-- BEGINNING OF OVERHAUL -->
    {{#if processing}}
    <form class="order-form" action="/cart" method="POST">
        <!-- special notes for order -->
        <label for="notes"></label>
        Notes:
        <input type="text" name="notes">
        <!-- method of payment -->
        <label for="payBy"></label>
        *Pay By:
        <select name="paymentMethod">
            <option value="card">Card</option>
            <option value="paypal">PayPal</option>
        </select>
        <!-- payment credentials/details -->
        <p class="warning hidden" id="payment-warning">Must submit payment details</p>
        <label for="payment"></label>
        *Enter payment details:
        <input id="payment-details" type="number" name="payment">
        <!-- submission -->
        <input id="submit-order" type="submit" value="Submit Order">
    </form>
    {{/if}}
    <!-- END OF OVERHAUL -->
</section>