<h1>Menu</h1>
    <ul>
        <!-- this 'ul' should be populated programtically
        Pull all menu items from the DB and populate this 'ul' with them
        -->
        <li class="menu-item">
            <h2>Item 1</h2>
            <p>Description:</p>
            <button class="add-to-cart">Add to cart</button>
            <span class="hidden">Item in cart</span>
        </li>
        <li class="menu-item">
            <h2>Item 2</h2>
            <p>Description:</p>
            <button class="add-to-cart">Add to cart</button>
            <span class="hidden">Item in cart</span>
        </li>
</ul>