<!DOCTYPE html>
<html>
    <head>
        <meta charset="">
        <link rel="stylesheet" href="/styles/styles2.css"><!-- change back to styles.css -->
        <script defer src="/scripts/dom2.js"></script><!-- change back to dom.js!! -->
    </head>
    <body>
        <header class="header">
            <!--<a class="link" href="/{{ otherPage }}">{{ otherPage }}</a>-->
            <button class="link to-cart">{{ otherPage }}</button>
        </header>
        <main class="main">
            <!-- Dynamically set content of page: 
                a. menu
                b. cart
            -->
            {{{ body }}}  
        </main>
        <footer class="footer">
            <p>Address of restaurant...</p>
        </footer>
    </body>
</html>