<h1>Menu</h1>
<ul class="menu">
    <!-- 
    this 'ul' should be populated programtically
    Pull all menu items from the DB and populate this 'ul' with them??
    -->
    <!-- use React to generate dynamic list of items?? -->
    <li class="menu-item">Item 1</li>
    <li class="menu-item">Item 2</li>
    <li class="menu-item">Item 3</li>
    <li class="menu-item">Item 4</li>
    <li class="menu-item">Item 5</li>
    <li class="menu-item">Item 6</li>
</ul>